* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold; 
}

@font-face {
    font-family: "Cindybob";
    src: url("./fonts/Cindybob.TTF");
}

body {
    display: flex;
    justify-content: center;
    background-color: #0C2D46;
    margin: 0;
}

.background {
    background-image: url("./images/american-flag.jpg");
    background-color: #cccccc;
    width: 400vh;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 56px;
}

.header-container a {
    text-decoration: none;
    color: white;
}

.header {
    max-width: 992px;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    flex: 1;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-left img {
    width: 4rem;
    height: 4rem;
}

.header-right {
    display: flex;
    gap: 8px;
}

.header-right img {
    width: 0.9rem;
    height: 0.9rem;
}

.header-right-grouping {
    height: 56px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.section-one-container {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* height: 290px; */
    padding: 8px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 5px;
    flex: 1;
}

.section-one-left-main {
    font-family: Cindybob;
    font-size: 40px;
    text-shadow: 0px 0px red;
    line-height: 48px;
}

.section-one-left-main strong {
    font-family: Cindybob;
    font-size: 50px;
    color: red;
    text-shadow: 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black;
}

.section-one-left-secondary {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
    line-height: 26px;
}

.section-one-left-secondary em {
    font-size: 22px;
}

.section-one-left-button {
    width: 200px;
    height: 37px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    margin-bottom: 4px;
    border: solid rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.section-one-right img {
    max-width: 400px;
    max-height: auto;
}
