* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold; 
}

@font-face {
    font-family: "Cindybob";
    src: url("./fonts/Cindybob.TTF");
}

body {
    display: flex;
    justify-content: center;
    background-color: #0C2D46;
    margin: 0;
}

.background {
    background-image: url("./images/american-flag.jpg");
    background-color: #0C2D46;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 535px;
}

.page {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 56px;
}

.header-container a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 992px;
    min-width: 770px;
    color: rgb(255, 255, 255);
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-left img {
    width: 4rem;
    height: 4rem;
}

.header-right {
    display: flex;
    gap: 8px;
}

.header-right img {
    width: 0.9rem;
    height: 0.9rem;
}

.header-right-grouping {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 56px;
}

.section-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16.5px;
    margin-bottom: 36px;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
    padding: 8px;
    border-radius: 5px;
}

.section-one-left-headline {
    font-family: Cindybob;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 1px 0px red, 0px 1px red, -1px 0px red, 0px -1px red;
    line-height: 48px;
}

.section-one-left-headline strong {
    font-family: Cindybob;
    font-size: 50px;
    color: red;
    text-shadow: 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black;
}

.section-one-left-secondary {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
    line-height: 26px;
}

.section-one-left-secondary em {
    font-size: 22px;
}

.section-one-left-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 37px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    margin-bottom: 4px;
    border: solid rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    text-decoration: none;
}

.section-one-right img {
    max-width: 400px;
    max-height: auto;
}

.section-two-container-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 400px;
}

.section-two-b-container-container {
    display: flex;
    flex-direction: column;
    height: 405px;
}

.section-two-container {
    display: flex;
    justify-content: center;
}

.section-two {
    display: flex;
    max-width: 866px;
    height: 400px;
}

.section-two-headline {
    display: flex;
    justify-content: center;
    gap: 7px;
    font-family: Cindybob;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 1px 0px red, 0px 1px red, -1px 0px red, 0px -1px red;
    line-height: 48px;
    margin-bottom: 44px;
}

.section-two-headline strong {
    font-family: Cindybob;
    font-size: 50px;
    color: red;
    text-shadow: 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black;
    padding-left: 3px;
}

.section-two-one, .section-two-two, .section-two-three, .section-two-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.section-two-one-box, .section-two-two-box, .section-two-three-box, .section-two-four-box {
    display: flex;
    flex: 1;
    min-width: 84px;
    min-height: 84px;
    max-width: 162px;
    max-height: 162px;
    border: solid red;
    border-radius: 20px;
}

.section-two-one-box img, .section-two-two-box img, .section-two-three-box img, .section-two-four-box img {
    border-radius: 16px;
}

.section-two-one-text, .section-two-two-text, .section-two-three-text, .section-two-four-text {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.section-three-container {
    display: flex;
    justify-content: center;
    background-image: url("./images/men-of-god.jpg");
    background-color: #0C2D46;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
}

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three-quote {
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 0;
}

.section-three-source {
    display: flex;
    align-self: flex-end;
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
}